@model UsersDB.Models.User
@{
    ViewData["Title"] = "Редактирование пользователя";
}
 
<h1>@ViewData["Title"]</h1>
<form method="POST">
    <div><label>Имя</label><br /><input asp-for="Name" value="@Model.Name" /></div>
    <div><label>Возраст</label><br /><input asp-for="Age" value="@Model.Age" /></div>
    <div><label>Город</label><br /><input asp-for="City" value="@Model.City" /></div>
    <div><label>Адрес электронной почты</label><br /><input asp-for="Email" value="@Model.Email" /></div>
    <input type="submit" value="Сохранить изменения" />
</form>
